@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --grey: #d9d9d9;
  --blue-dark: #2c3e50;
  --red: #e74c3c;
  --sky-blue: #3498db;
  --sky-blue-dark: #0878be;
  --bg-img: url("./assets/background.svg");
  --bg-img-section2: url("./assets/gradientPolaris.png");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
  /*border: 1px solid red;*/
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px 0;
  width: 100%;
}

button {
  background-color: var(--blue-dark);
  border: 0 solid black;
  outline: none;
  width: 180px;
  height: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s linear;
  border-radius: 5px;
  z-index: 1;
}

button:hover {
  background-color: var(--sky-blue);
  transition: all 0.4s linear;
}

button a {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  color: white;
}

.seccion-p {
  font-weight: 300;
  font-size: 18px;
}

.seccion-p-small {
  font-weight: 300;
  font-size: 16px;
}

/*-----NAVBAR-----*/


.header {
  top: 0;
  width: 100%;
  height: 100px;
  position: fixed;
  padding: 0px 80px 0px 50px;
  background-color: white;
  z-index: 2;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar p {
  font-size: 28px;
  color: var(--sky-blue-dark);
  font-weight: 600;
}

.nav-logo img {
  width: 50px;
  transition: transform 1s ease;
}

.nav-logo img:hover {
  transform: rotate(360deg);
}

.menu-hamburguesa {
  display: none;
}

.header label {
  display: none;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.items {
  gap: 50px;
}

.navbar a {
  color: var(--sky-blue);
  font-size: 1.4rem;
}

.navbar a:hover {
  color: var(--blue-dark);
  text-decoration: underline;
}

.items li:last-child > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--blue-dark);
  padding: 10px 40px;
  font-size: 18px;
  transition: all 0.4s linear;
  border-radius: 5px;
  text-decoration: none;
}

.items li:last-child > a:hover {
  transition: all 0.4s linear;
  color: white;
  background-color: var(--blue-dark);
  text-decoration: none;
}

@media (max-width: 1050px) {

  .items li:last-child > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--blue-dark);
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.4s linear;
    border-radius: 5px;
    text-decoration: none;
  }

  .navbar a {
    color: var(--sky-blue);
    font-size: 1.3rem;
  }
}

@media (max-width: 996px) {

  .header {
    padding: 0 15px;
    justify-content: space-between;
  }

  .navbar label{
    display: block;
  }

  .items {
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    transform: translate(200%);
    transition: all 0.3s linear;
    background-color: white;
    z-index: 2;
  }

  .menu-hamburguesa:checked + .items {
    transition: all 0.3s linear;
    transform: translateX(0);
  }
}

/*-----SECCION HERO-----*/

.hero {
  position: relative;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
  height: 800px;
  gap: 50px;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 119, 255, 0.37);
  z-index: 1;
}

.hero-titulo {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.hero-titulo:first-child > img {
  width: 100px;
}

.hero-titulo h1 {
  font-size: 42px;
  color: white;
}

.hero-info {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 750px;
}

.hero-info p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.hero-info button {
  font-size: 16px;
  font-weight: 400;
}

.hero img {
  position: relative;
  z-index: 2;
  width: 300px;
}

/*-----SECCION BENEFICIOS-----*/

.background {
  background-image: var(--bg-img-section2);
  background-size: cover;
  background-position: center;
}

.section-beneficios {
  display: flex;
  flex-direction: column;
}

.contenedor-beneficios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  padding: 40px 0;
  max-width: 1300px;
}

.cards-beneficios {
  width: 45%;
  margin: 10px;
  padding: 0 45px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.card-icon img {
  width: 96px;
  transition: background-color 1s ease 0s;
}

.card-icon img:hover {
  animation: moveIn 1s ease;
}

.card h2 {
  text-align: center;
  font-size: 22px;
  color: white;
  font-weight: 700;
}

.card-texto {
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
}

.card-texto p {
  font-size: 18px;
  font-weight: 500;
}

@keyframes moveIn {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*-----SECCION RESEÑAS-----*/

.seccion-reseña {
  display: flex;
}

.contenedor-reseña {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  gap: 120px;
  max-width: 1300px;
}

.cards-reseña {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
}

.card-reseña {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border-style: solid;
  text-align: center;
  width: 350px;
  height: 300px;
  padding-top: 50px;
  position: relative;
  color: white;
}

.card-reseña::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 119, 255, 0.1);
  z-index: 1;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: absolute;
  top: -60px;
  border: 5px white solid;
  z-index: 1;
  animation: borderEffect 3s infinite;
}

.card-reseña:first-child .foto-perfil {
  background-image: url(./assets/card-1.jpg);
}

.card-reseña:nth-child(2) .foto-perfil {
  background-image: url(./assets/card-4.jpg);
}

.card-reseña:nth-child(3) .foto-perfil {
  background-image: url(./assets/card-3.jpg);
}

.card-reseña:nth-child(4) .foto-perfil {
  background-image: url(./assets/card-2.png);
}

.card-reseña:nth-child(5) .foto-perfil {
  background-image: url(./assets/Ellipse\ 15.png);
}

.card-reseña:nth-child(6) .foto-perfil {
  background-image: url(./assets/Ellipse\ 8.png);
}

.card-reseña h3 {
  font-weight: 700;
  font-size: 20px;
}

.card-reseña .reseña {
  font-weight: 600;
}

.card-reseña .info,
.card-reseña .reseña {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}

@keyframes borderEffect {
  0% {
    border-color: var(--sky-blue); /* Color inicial del borde */
  }
  50% {
    border-color: var(--sky-blue-dark); /* Color final del borde */
  }
  100% {
    border-color: #8366d1; /* Color intermedio del borde */
  }
}

/*--------SECCION CONTACTO--------*/
.seccion-contacto {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/banner.png);
  background-size: cover;
  background-position: center;
}

.contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1300px;
  flex-wrap: wrap;
  flex-direction: column;
}

.contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 250px;
}

form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.form-contacto {
  max-width: 400px;
  padding: 20px 80px;
  position: relative;
}

.form-contacto::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(230, 242, 255, 0.644);
  box-shadow: -1px 1px 28px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 28px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 28px 6px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  z-index: 1;
}

label {
  display: block;
  margin-bottom: 8px;
  color: black;
  z-index: 1;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 2px;
  border-style: none none solid none;
  background-color: transparent;
}

.info-contacto {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.info-contacto .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
  background-color: var(--sky-blue);
  box-shadow: -1px 1px 28px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 28px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 28px 6px rgba(0, 0, 0, 0.75);
  width: 310px;
  padding: 8px;
  border-radius: 8px;
  z-index: 1;
}

.info-contacto .mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
  z-index: 1;
}


@media (max-width: 996px) {
    
  .contacto {
    gap: 100px;
  }
}

/*------SECCION FOOTER-------*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  gap: 5px;
  padding: 0 15px;
}

footer p {
  color: white;
  font-weight: 600;
}

footer p:first-child {
  font-size: 16px;
}

footer p:nth-child(2) {
  font-size: 18px;
}

@media (max-width: 996px) {

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
}
